.signin-form {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.signin-form input {
  padding: 10px;
  margin: 5px;
}
button {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
.error {
  background-color: rgb(179, 54, 54);
  color: white;
  padding: 5px;
  margin: 0px 5px;
  text-align: center;
}
.alert {
  background-color: rgb(53, 77, 184);
  color: white;
  padding: 5px;
  margin: 0px 5px;
  text-align: center;
}
.login-options {
  display: flex;
  justify-content: space-evenly;
}
